<br><br><br><br>
<div class="container-fluid bg-dark"><br><br>
    <div class="row text-light">
        <div class="col-4 offset-4">
            <h1 style="text-align:center">What do we do?</h1>
        </div>
    </div>
    <br>
    <br>

    <div class="mydiv">
        <div class="row justify-content-center text-light">
            <br><br><br>
            <div class="col-md-2">
                
                <br>
                <div class="card"style="height: 450px;">
                    <div class="card-header">
                        <h5 style="color:black">Search Flights</h5>
                    </div>
                    <img class="card-img-top"style="border-radius: 50%; padding: 20px;"
                    src="assets\images\PP3"
                    width="100" height="200" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-dark">This feature provides you to search Flights which will help
                            commuter to search flights to travel from one place to other.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
               
                <br>
                <div class="card" style="height: 450px;">
                    <div class="card-header">
                        <h5 style="color:black">Book Flights</h5>
                    </div>
                    <img class="card-img-top"style="border-radius: 50%; padding: 20px;"
                    src="assets\images\PP3"
                    width="100" height="200" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-dark">This feature provides user to book flights
                             which will help him to commute to its destination 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
              
                <br>
                <div class="card"style="height: 450px;">
                    <div class="card-header">
                        <h5 style="color:black">Cancel Booking</h5>
                    </div>
                    <img class="card-img-top"style="border-radius: 50%; padding: 20px;"
                    src="assets\images\PP3"
                    width="100" height="200" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-dark">This feature provides user to cancel the book flights
                             in case of change in plans to travel
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
               
                <br>
                <div class="card"style="height: 450px;">
                    <div class="card-header">
                        <h5 style="color:black">View Bookings</h5>
                    </div>
                    <img class="card-img-top" style="border-radius: 50%; padding: 20px;"
                        src="assets\images\PP3"
                        width="100" height="200" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-dark">This feature allows user to view the flights he booked
                            and hence he can keep track of his booking.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                
                <br>
                <div class="card"style="height: 450px;">
                    <div class="card-header">
                        <h5 style="color:black">Register</h5>
                    </div>
                    <img class="card-img-top" style="border-radius: 50%; padding: 20px;"
                    src="assets\images\PP3"
                    width="100" height="200" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-dark">This feature provides user to make account on Udaan App.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>