<div class="sticky">
    <app-navbar></app-navbar>
</div>

<div class="bg">
    <br><br>
    <div class="container-fluid">
        
        <div class="col-10 offset-1" style="align-content: center;">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img src="assets/images/PP4.jpg" alt="Image 1" style="height: 750px; width: 100%;">
                    <div class="carousel-caption">
                        <!-- <h2>Image 1 </h2> -->
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="assets/images/PP3" alt="Image 2" style="height: 750px; width: 100%;">
                    <div class="carousel-caption">
                        <!-- <h2>Image 2</h2> -->
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <img src="assets/images/PP1.jpg" alt="Image 3" style="height: 750px; width: 100%;">
                    <div class="carousel-caption">
                        <!-- <h2>Image 3 </h2> -->
                    </div>
                </ng-template>

            </ngb-carousel>
        </div>

        <!-- <br><br><br><br> -->

        <div class="col-12" style="align-content: center;">
            <!-- <app-view-filghts></app-view-filghts> -->
            <br><br><br><br>
            <div class="container-fluid bg-dark" style="padding-bottom:100px ;"><br><br>
                <div class="row text-light">
                    <div class="col-4 offset-4">
                        <h1 style="text-align:center">What can yo do?</h1>
                    </div>
                </div>
                <br>
                <br>

                <div class="mydiv">
                    <div class="row justify-content-center text-light">
                        <br><br><br>
                        <div class="col-md-2">

                            <br>
                            <a routerLink="/flights" style="text-decoration: none;">
                            <div class="card" style="height: 450px;">
                                <div class="card-header">
                                    <h5 style="color:black">Search Flights</h5>
                                </div>
                                <img class="card-img-top" style="border-radius: 50%; padding: 20px;"
                                    src="assets\images\search.jpg" width="100" height="200" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text text-dark">This feature provides you to search Flights which
                                        will help
                                        commuter to search flights to travel from one place to other.
                                    </p>
                                </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-md-2">

                            <br>
                            <div class="card" style="height: 450px;">
                                <div class="card-header">
                                    <h5 style="color:black">Book Flights</h5>
                                </div>
                                <img class="card-img-top" style="border-radius: 50%; padding: 20px;"
                                    src="assets\images\book.jpg" width="100" height="200" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text text-dark">This feature provides user to book flights
                                        which will help him to commute to its destination
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">

                            <br>
                            <div class="card" style="height: 450px;">
                                <div class="card-header">
                                    <h5 style="color:black">Cancel Booking</h5>
                                </div>
                                <img class="card-img-top" style="border-radius: 50%; padding: 20px;"
                                    src="assets\images\cancel.png" width="100" height="200" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text text-dark">This feature provides user to cancel the book flights
                                        in case of change in plans to travel
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a routerLink="/tickets" style="text-decoration: none;">
                            <br>
                            <div class="card" style="height: 450px;">
                                <div class="card-header">
                                    <h5 style="color:black">View Bookings</h5>
                                </div>
                                <img class="card-img-top" style="border-radius: 50%; padding: 20px;"
                                    src="assets\images\view.jpg" width="100" height="200" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text text-dark">This feature allows user to view the flights he
                                        booked
                                        and hence he can keep track of his booking.
                                    </p>
                                </div>
                            </div>
                            </a>
                        </div>
                    
                    </div>
                </div>
                <!-- <app-footer></app-footer> -->
            </div>

        </div>
    </div>
    <app-footer></app-footer>

</div>