<nav class="navbar fixed-navbar navbar-expand-md navbar-secondary text-loght bg-dark content-center">
    <div class="col-4 content-left">
        <a routerLink="/home" class="btn-change" style="float: left;">Home</a>
        <a routerLink="/flights" class="btn-change " style="float: left;">Search</a>
        <a routerLink="/tickets" class="btn-change" style="float: left;">Bookings</a>
    </div>
    <div class="col-4 text-center text-light">
        <h2>
            <strong>
                UDAN
                <img src="assets\images\Logo3.png" class="btn-change " style="padding-top: 10px;" width="100"
                    height="50" alt="CoolBrand">
                FLIGHTS
            </strong>
        </h2>
    </div>
    <div class="col-4">            
            <a class="btn" style="float:right;" (click)="logOut()">Logout</a>
            <a routerLink="/contact" class="btn-change"style="float:right;">Contact</a>
            <!-- <a routerLink="/about" class="btn-change"style="float:right;">About</a> -->
    </div>
</nav>
